<header class="topbar">
  <div class="topbar-inner hidden sm:flex">
    <div class="topbar-group">
      <%= link_to "Dashboard", admin_path, class: "topbar-link" %>
      <%= link_to "Courses", admin_courses_path, class: "topbar-link" %>
      <%= link_to "Users", admin_users_path, class: "topbar-link" %>
    </div>
    <div>
      <%= link_to admin_path, class: "brand-link" do %>
        <%= image_tag "logo.png", class: "brand-logo", alt: "Learning Management Admin" %>
      <% end %>
    </div>
    <div class="topbar-group">
      <% if admin_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo_method" => :delete, "turbo_confirm" => "Are you sure?" }, class: "topbar-link" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "topbar-link" %>
      <% end %>
    </div>
  </div>

  <div data-controller="navbar" class="topbar-inner sm:hidden">
    <div>
      <%= link_to admin_path, class: "brand-link" do %>
        <%= image_tag "logo.png", class: "brand-logo", alt: "Learning Management Admin" %>
      <% end %>
    </div>
    <div class="p-1">
      <button data-action="click->navbar#toggle" id="bars" type="button" class="topbar-link">
        <%= icon("fa-solid", "bars") %>
      </button>
      <button data-action="click->navbar#toggle" id="close" type="button" class="topbar-link hidden">
        <%= icon("fa-solid", "x") %>
      </button>
    </div>
    <div id="mobile-links" class="mobile-menu hidden">
      <%= link_to "Dashboard", admin_path, class: "topbar-link" %>
      <%= link_to "Courses", admin_courses_path, class: "topbar-link" %>
      <%= link_to "Users", admin_users_path, class: "topbar-link" %>
      <% if admin_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo_method" => :delete, "turbo_confirm" => "Are you sure?" }, class: "topbar-link" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "topbar-link" %>
      <% end %>
    </div>
  </div>
</header>
