<%= form_with(model: [:admin, @admin_course, admin_lesson]) do |form| %>
  <% if admin_lesson.errors.any? %>
    <div class="ui-alert">
      <h2><%= pluralize(admin_lesson.errors.count, "error") %> prohibited this admin_lesson from being saved:</h2>
      <ul class="ml-5 list-disc">
        <% admin_lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui-input-row">
    <label class="ui-label" for="title">Title</label>
    <%= form.text_field :title, class: "w-full", id: "title", placeholder: "Lesson title" %>
  </div>

  <div class="ui-input-row">
    <label class="ui-label" for="description">Description</label>
    <%= form.rich_text_area :description, class: "rounded-xl border border-brown-200", id: "description", placeholder: "Lesson description" %>
  </div>

  <div class="mt-4 flex items-center gap-2">
    <%= form.check_box :paid, class: "h-5 w-5 rounded border", id: "paid" %>
    <label class="ui-label" for="paid">Paid</label>
  </div>

  <div class="rounded mt-4">
    <div class="ui-input-row">
      <%= admin_lesson.video.present? ? (video_tag admin_lesson.video, class: "w-64 rounded-xl border border-brown-200") : nil %>
      <label class="ui-label" for="video">Video</label>
      <%= form.file_field :video, id: "video" %>
    </div>
  </div>

  <div class="mt-4">
    <%= form.submit "Submit", class: "ui-btn ui-btn-primary cursor-pointer" %>
  </div>
<% end %>
