<%= form_with(model: [:admin, admin_course]) do |form| %>
  <% if admin_course.errors.any? %>
    <div class="ui-alert">
      <h2><%= pluralize(admin_course.errors.count, "error") %> prohibited this admin_course from being saved:</h2>
      <ul class="ml-5 list-disc">
        <% admin_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui-input-row">
    <label class="ui-label" for="title">Title</label>
    <%= form.text_field :title, class: "w-full", id: "title", placeholder: "Course title" %>
  </div>

  <div class="ui-input-row">
    <label class="ui-label" for="description">Description</label>
    <%= form.rich_text_area :description, class: "rounded-xl border border-brown-200", id: "description", placeholder: "Course description" %>
  </div>

  <div class="ui-input-row">
    <label class="ui-label" for="stripe_price_id">Stripe Price ID</label>
    <%= form.text_field :stripe_price_id, class: "w-full", id: "stripe_price_id" %>
  </div>

  <div class="ui-input-row">
    <%= admin_course.image.present? ? (image_tag admin_course.image, class: "mb-2 w-64 rounded-xl border border-brown-200") : nil %>
    <label class="ui-label" for="cover_image">Cover Image</label>
    <%= form.file_field :image, id: "image" %>
  </div>

  <div class="flex items-center gap-2">
    <%= form.check_box :paid, id: "paid", class: "h-5 w-5 rounded border" %>
    <label class="ui-label" for="paid">Paid</label>
  </div>

  <div class="ui-input-row mt-4">
    <label class="ui-label" for="premium_description">Premium Description</label>
    <%= form.rich_text_area :premium_description, class: "rounded-xl border border-brown-200", id: "premium_description", placeholder: "Premium course description" %>
  </div>

  <div class="mt-4">
    <%= form.submit "Submit", class: "ui-btn ui-btn-primary cursor-pointer" %>
  </div>
<% end %>
